<h2>Teams <a href="/teams/new">(+)</a></h2> <!-- NHO: How could we utilize rails helpers to do links the 'rails' way?  -->

<ul>
	<% @teams.each do |team| %>
	<li>
		<a href="/teams/<%= team.id %>">
		<%= team.school_name %>
		</a>
	</li>
<% end %>
</ul>
